@charset "utf-8";

/*========= ヘッダー追従のためのCSS ===============*/

#header {
    position: fixed;
    /*追従ナビのためpositionをfixedにする*/
    top: 0;
    /*ポジション設定topを0*/
    height: inherit;
    /*headerの高さを指定*/
    width: 100%;
    /*position:fixed;にしたため、横幅100%を設定*/
    /*background: #333;*/
    background: #4b0082;
    color: #fff;
    text-align: left;
    margin-bottom: 0;

    font-family: 'Silkscreen', cursive;
    display: flex;
}

/*========= レイアウトのためのCSS ===============*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.2em;
}

h1 {
    font-size: 2rem;
    padding: 0;
    margin: auto;
}

#page-title {
    margin-left: 50px;
    margin-right: auto;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0 30px 0;
}

p {
    margin-top: 20px;
}

small {
    background: #333;
    color: #fff;
    display: block;
    text-align: center;
    padding: 20px;
}

#main-vidual {
    margin-top: 70px;
    /*上部にheader分の高さの余白を持たせる*/
}

#main-vidual img {
    width: 100%;
}

section {
    padding: 30px 15%;
}

section:nth-child(2n) {
    background: #0f0f0f;
}

section:nth-child(2n+1) {
    background: #080808;
}

#page-link {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

#page-link li {
    list-style: none;
}

#page-link li a {
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
}

#page-link li a::before {
    content: '▼';
    font-size: 0.8rem;
    padding: 0 10px 0 0;
    color: #ccc;
}

#canvas {
    padding: 0;
    margin: 0;
}

#profile {
    /* display: flex; */
    justify-content: center;
    display: grid;
    /* grid-auto-rows: 5em; */
    grid-gap: 10px;
    padding: 0;
    margin: 1em 0 2em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

#picture {
    width: 100%;
    /* padding-right: 10%; */
    text-align: center;
    margin: 0 auto;
}

#myphoto {
    width: 100%;
}

#status {
    padding-right: 50px;
    font-size: 1.2rem;
    line-height: 3em;
}

#status li {
    list-style: none;
}

#school-info {
    font-size: 0.8em;
    line-height: 2em;
}

a.linkstyle {
    color: aqua;
}

img.icon {
    vertical-align: text-bottom;
    height: 1.8rem;
}

#study-ul {
    font-size: 1.0rem;
    line-height: 3em;
}

.triangle-li-style li::before {
    content: '▶';
    font-size: 1.2rem;
    padding: 0 10px 0 0;
    color: #ccc;
}

#study-ul li {
    list-style: none;
}

#text-omoni {
    border: 2rem 0 2.5rem 0;
    font-size: 1.2rem;
}

#lang-img {
    display: flex;
    justify-content: space-around;
}

#lang-img li {
    list-style: none;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px 100px 80px 120px auto;
}

#footer {
    position: relative;
    z-index: 2;
}

#page-top a {
    display: block;
    justify-content: center;
    align-items: center;
    width: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6rem;
    transition: all 0.3s;
}

#page-top a img {
    width: 100%;
    height: auto;
}

#page-top a p {
    margin: auto;
}

/*リンクを右下に固定*/
#page-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove {
    animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*　下に下がる動き　*/

#page-top.DownMove {
    animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(100px);
    }
}

#page-top.OverMove {
    animation: OverAnime 1.0s forwards;
    opacity: 0;
    transform: translateY(100px);
}

@keyframes OverAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(-100vh);
    }
}